props: ['topics']
<template>
  <div class="toc col-6">
    <ul class="list-group" id="toc">
      <li class="list-group-item"><h1>Modules</h1></li>
        <li class="list-group-item" v-for="item in topics">
          <topic class="topic" :topic="item" />
          <router-link :to="'topic/' + item.id">{{item.title}}</router-link>
        </li>
    </ul>
  </div>
</template>
